@using WebSchool.Service.Interface;
@using System.Threading;
@using System.Threading.Tasks;
@using System.Linq;
@using System.Collections.Generic;

@inject ITahunAjarService TahunAjaranService;
@inject IKelasService KelasService;
@inject IPenilaianService PenilaianService;


@{
    CancellationToken cancellationToken = new CancellationToken();
    var DataTahunAjaran = await TahunAjaranService.ListTahunAjaran(0, cancellationToken);
    var DataPenilaian = await PenilaianService.ListPenilaian(0, cancellationToken);
    var DataKelas = await KelasService.ListKelas(0, cancellationToken);
}

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Data Penilaian Siswa</h5>
                    <br />
                    <form class="row g-2">
                        <div class="col-md-3">
                            <label for="inputText" class="col-sm-4 col-form-label" style="font-size:14px;">Tahun Ajaran :</label>
                            <select class="form-select" id="TahunAjaran2" aria-label="TahunAjaran2" style="font-size:14px;" required>
                                <option selected></option>
                                @if (DataTahunAjaran.Data.Any())
                                {
                                    foreach (var data in DataTahunAjaran.Data)
                                    {
                                        <option value="@data.Id">@data.TahunAjaran</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="inputText" class="col-sm-4 col-form-label" style="font-size:14px;">Nama Kelas :</label>
                            <select class="form-select" id="NamaKelas2" aria-label="NamaKelas2" style="font-size:14px;" onchange="GetSiswaSearchData();" required>
                                <option selected></option>
                                @if (DataKelas.Data.Any())
                                {
                                    foreach (var data in DataKelas.Data)
                                    {
                                        <option value="@data.Id">@data.NamaKelas</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="inputText" class="col-sm-4 col-form-label" style="font-size:14px;">Nama Siswa :</label>
                            <select class="form-select" id="NamaSiswa2" aria-label="NamaSiswa2" style="font-size:14px;">
                                
                            </select>
                        </div>
                    </form>
                    <br />
                    <form class="row g-2">
                        <div class="col-md-2">
                           <button type="button" class="btn btn-warning" onclick="GetDataPenilaianSiswa();">Cari</button>&nbsp;&nbsp;
                           <button type="button" class="btn btn-primary" onclick="showTambahPenilaianSiswa();">Tambah</button>
                        </div>
                    </form>
                    <br />
                    <br />
                    <table class="table table-striped table-bordered dt-responsive nowrap" id="tabelPenilaianSiswa">
                        <thead>
                            <tr>
                                <th scope="col" style="font-size:14px;">Tahun Ajaran</th>
                                <th scope="col" style="font-size:14px;">Nama Kelas</th>
                                <th scope="col" style="font-size:14px;">Nama Siswa</th>
                                <th scope="col" style="font-size:14px;">Nama Pelajaran</th>
                                <th scope="col" style="font-size:14px;">Nama Penilaian</th>
                                <th scope="col" style="font-size:14px;">Nilai</th>
                                <th scope="col" style="font-size:14px;">Keterangan</th>
                                <th scope="col" style="font-size:14px;">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="TambahPenilaianSiswa" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tambah Penilain Siswa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
            <div class="modal-body">
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Tahun Ajaran</label>
                    <div class="col-sm-10">
                        <select class="form-select" id="TahunAjaran" aria-label="TahunAjaran" style="font-size:14px;" required>
                            <option selected></option>
                            @if (DataTahunAjaran.Data.Any())
                            {
                                foreach (var data in DataTahunAjaran.Data)
                                {
                                    <option value="@data.Id">@data.TahunAjaran</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Nama Kelas</label>
                    <div class="col-sm-10">
                        <select class="form-select" id="NamaKelas" aria-label="NamaKelas" style="font-size:14px;" onchange="GetSiswaAddData();" required>
                            <option selected></option>
                            @if (DataKelas.Data.Any())
                            {
                                foreach (var data in DataKelas.Data)
                                {
                                    <option value="@data.Id">@data.NamaKelas</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Nama Siswa</label>
                    <div class="col-sm-10">
                        <select class="form-select" id="NamaSiswa" aria-label="NamaSiswa" style="font-size:14px;" required>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Nama Penilaian</label>
                    <div class="col-sm-10">
                            <select class="form-select" id="NamaPenilaian" aria-label="NamaPenilaian" style="font-size:14px;" required>
                            <option selected></option>
                            @if (DataKelas.Data.Any())
                            {
                                foreach (var data in DataPenilaian.Data)
                                {
                                    <option value="@data.Id">@data.NamaPelajaran-@data.NamaPenilaian</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Nilai</label>
                    <div class="col-sm-10">
                        <input type="number" id="Nilai" value="0" class="form-control" style="font-size:14px;" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Deskripsi</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="Deskripsi" maxlength="150" style="height: 60px; font-size:14px;"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" style="font-size:14px;" data-bs-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary" style="font-size:14px;" onclick="SaveDataPenilaianSiswa();">Simpan</button>
            </div>
            </form><!-- End General Form Elements -->
        </div>
    </div>
</div><!-- End Basic Modal-->

<div class="modal fade" id="EditPenilaianSiswa" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Penilaian Siswa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
            <div class="modal-body">
                <input type="text" id="Id" class="form-control" hidden>
                <input type="text" id="IdTahunAjaran1" class="form-control" hidden>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Tahun Ajaran</label>
                    <div class="col-sm-10">
                         <input type="text" id="TahunAjaran1" maxlength="50" class="form-control" style="font-size:14px;" readonly required>
                    </div>
                </div>
                <input type="text" id="IdKelas1" class="form-control" hidden>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Nama Kelas</label>
                    <div class="col-sm-10">
                         <input type="text" id="NamaKelas1" maxlength="50" class="form-control" style="font-size:14px;" readonly required>
                    </div>
                </div>
                <input type="text" id="IdSiswa1" class="form-control" hidden>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Nama Siswa</label>
                    <div class="col-sm-10">
                        <input type="text" id="NamaSiswa1" maxlength="50" class="form-control" style="font-size:14px;" readonly required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Nama Penilaian</label>
                    <div class="col-sm-10">
                            <select class="form-select" id="NamaPenilaian1" aria-label="NamaPenilaian1" style="font-size:14px;" required>
                            <option selected></option>
                            @if (DataPenilaian.Data.Any())
                            {
                                foreach (var data in DataPenilaian.Data)
                                {
                                    <option value="@data.Id">@data.NamaPelajaran-@data.NamaPenilaian</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Nilai</label>
                    <div class="col-sm-10">
                        <input type="number" id="Nilai1" value="0" class="form-control" style="font-size:14px;" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Deskripsi</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="Deskripsi1" maxlength="150" style="height: 60px; font-size:14px;"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" style="font-size:14px;" data-bs-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary" style="font-size:14px;" onclick="UpdateDataPenilaianSiswa();">Simpan</button>
            </div>
            </form><!-- End General Form Elements -->
        </div>
    </div>
</div><!-- End Basic Modal-->

<link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="~/css/jquery-ui.min.css" rel="stylesheet">

<style>
    .table.dataTable {
        font-size: 14px;
    }
</style>

<script src="~/js/jquery-3.5.1.js"></script>
<script src="~/js/jquery-ui.min.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/dataTables.bootstrap4.min.js"></script>

<script src="~/js/swallfire/sweetalert2.min.js"></script>
<script src="~/js/swallfire/sweetalert2.all.min.js"></script>
<script src="~/js/apps/penilaian_siswa/penilaian_siswa.js"></script>

<script>

    $(document).ready(function (){
        $("#tabelPenilaianSiswa").DataTable({
            destroy: true,
            paging: true,
            searching: true
        });
    });

    GetDataPenilaianSiswa();

    function showTambahPenilaianSiswa() {
        $('#TambahPenilaianSiswa').modal('show');
    }

    function pingURL() {
        var settings = {
            cache: false,
            //dataType: "jsonp",
            dataType: "application/json",
            crossDomain: true,
            url: "Ping/GetPing",
            method: "GET",
            timeout: 5000,
            headers: { accept: "application/json", "Access-Control-Allow-Origin": "*", },

            statusCode: {
                200: function (response) {

                },
                400: function (response) {

                },
                0: function (response) {

                },
            },
        };
        // Sends the request and observes the response
        $.ajax(settings).done(function (response) {
            console.log("Success -----> " + response);
        })
        .fail(function (response) {
            console.log("Error -----> " + response);
            alert("Not Connected Server, Check internet Or Server...!");
        });
    }
</script>


