@using WebSchool.Service.Interface;
@using System.Threading;
@using System.Threading.Tasks;
@using System.Linq;
@using System.Collections.Generic;

@inject ITahunAjarService TahunAjaranService;
@inject IKelasService KelasService;
@inject ITahunService TahunService;

@{
    CancellationToken cancellationToken = new CancellationToken();
    var DataTahunAjaran = await TahunAjaranService.ListTahunAjaran(0, cancellationToken);
    var DataTahun = await TahunService.ListTahun(cancellationToken);
    var DataKelas = await KelasService.ListKelas(0, cancellationToken);
}

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Data Uang Pembayaran Sekolah</h5>
                    <br />
                    <form class="row g-2">
                        <div class="col-md-3">
                            <label for="inputText" class="col-sm-4 col-form-label" style="font-size:14px;">Tahun Ajaran :</label>
                            <select class="form-select" id="TahunAjaran2" aria-label="TahunAjaran2" style="font-size:14px;" required>
                            <option selected></option>
                                @if(DataTahunAjaran.Data.Any()){
                                    foreach(var data in DataTahunAjaran.Data)
                                    {
                                        <option value="@data.Id">@data.TahunAjaran</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="inputText" class="col-sm-4 col-form-label" style="font-size:14px;">Nama Kelas :</label>
                            <select class="form-select" id="NamaKelas2" aria-label="NamaKelas2" style="font-size:14px;" onchange="GetSiswaSearchData();" required>
                                <option selected></option>
                                @if (DataKelas.Data.Any())
                                {
                                    foreach (var data in DataKelas.Data)
                                    {
                                        <option value="@data.Id-@data.Kelass">@data.NamaKelas</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="inputText" class="col-sm-4 col-form-label" style="font-size:14px;">Nama Siswa :</label>
                            <select class="form-select" id="NamaSiswa2" aria-label="NamaSiswa2" style="font-size:14px;" required>
                                
                            </select>
                        </div>
                        
                    </form>
                 
                    <br />
                    <form class="row g-2">
                        <div class="col-md-2">
                            <button type="button" class="btn btn-warning" onclick="GetDataPembayaran();">Cari</button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-primary" onclick="showTambahUangPembayaran();">Tambah</button>
                        </div>
                        
                    </form>
                    <br />
                    <br />
                    <table class="table table-striped table-bordered dt-responsive nowrap" id="tabelPembayaran">
                        <thead>
                            <tr>
                                <th scope="col" style="font-size:14px;">Tahun Ajaran</th>
                                <th scope="col" style="font-size:14px;">Kelas</th>
                                <th scope="col" style="font-size:14px;">Nama Siswa</th>
                                <th scope="col" style="font-size:14px;">Nama Pembayaran</th>
                                <th scope="col" style="font-size:14px;">Nilai Pembayaran</th>
                                <th scope="col" style="font-size:14px;">Bayar</th>
                                <th scope="col" style="font-size:14px;">Kembalian</th>
                                <th scope="col" style="font-size:14px;">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="TambahUangPembayaran" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tambah Uang Pembayaran Sekolah</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
            <div class="modal-body">
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Tahun Ajaran</label>
                    <div class="col-sm-10">
                        <select class="form-select" id="TahunAjaran" aria-label="TahunAjaran" style="font-size:14px;" required>
                            <option selected></option>
                            @if (DataTahunAjaran.Data.Any())
                            {
                                foreach (var data in DataTahunAjaran.Data)
                                {
                                    <option value="@data.Id">@data.TahunAjaran</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Nama Kelas</label>
                    <div class="col-sm-10">
                            <select class="form-select" id="NamaKelas" aria-label="NamaKelas" style="font-size:14px;" onchange="GetSiswaAddData();" required>
                            <option selected></option>
                            @if (DataKelas.Data.Any())
                            {
                                foreach (var data in DataKelas.Data)
                                {
                                    <option value="@data.Id-@data.Kelass">@data.NamaKelas</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Nama Siswa</label>
                    <div class="col-sm-10">
                        <select class="form-select" id="NamaSiswa2" aria-label="NamaSiswa2" style="font-size:14px;" required>
                               
                        </select>
                    </div>
                </div>
                <input type="text" id="IdConfigPembayaran" class="form-control" style="font-size:14px;" readonly hidden>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Pembayaran</label>
                    <div class="col-sm-10">
                        <select class="form-select" id="NamaPembayaran" aria-label="NamaPembayaran" style="font-size:14px;" onchange="onChangePembayaran();" required>
                               
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Uang Bayar</label>
                    <div class="col-sm-10">
                        <input type="number" value="0" id="UangPembayaran" class="form-control" style="font-size:14px;" onchange="onChangeBayar();" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Bayar</label>
                    <div class="col-sm-10">
                         <input type="number" value="0" id="Bayar" class="form-control" style="font-size:14px;" onchange="onChangeBayar();" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Kembalian</label>
                    <div class="col-sm-10">
                         <input type="number" value="0" id="Kembalian" class="form-control" style="font-size:14px;" required readonly>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" style="font-size:14px;" data-bs-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary" style="font-size:14px;" onclick="SaveDataUangPembayaran();">Simpan</button>
            </div>
            </form><!-- End General Form Elements -->
        </div>
    </div>
</div><!-- End Basic Modal-->

<div class="modal fade" id="EditUangPembayaran" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Uang Pembayaran Sekolah</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <input type="text" id="Id" class="form-control" style="font-size:14px;" readonly hidden>
                    <input type="text" id="IdTahunAjaran1" class="form-control" style="font-size:14px;" readonly hidden>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Tahun Ajaran</label>
                        <div class="col-sm-10">
                            <input type="text" id="TahunAjaran1" maxlength="50" class="form-control" style="font-size:14px;" readonly required>
                        </div>
                    </div>
                    <input type="text" id="IdKelas1" class="form-control" style="font-size:14px;" readonly hidden>
                    <input type="text" id="Kelas1" class="form-control" style="font-size:14px;" readonly hidden>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Nama Kelas</label>
                        <div class="col-sm-10">
                            <input type="text" id="NamaKelas1" maxlength="50" class="form-control" style="font-size:14px;" readonly required>
                        </div>
                    </div>
                    <input type="text" id="IdSiswa1" class="form-control" style="font-size:14px;" readonly hidden>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Nama Siswa</label>
                        <div class="col-sm-10">
                             <input type="text" id="NamaSiswa1" maxlength="50" class="form-control" style="font-size:14px;" readonly required>
                        </div>
                    </div>
                    <input type="text" id="IdConfigPembayaran1" class="form-control" style="font-size:14px;" readonly hidden>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Pembayaran</label>
                        <div class="col-sm-10">
                            <select class="form-select" id="NamaPembayaran1" aria-label="NamaPembayaran1" style="font-size:14px;" onchange="onChangePembayaran1();" required>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Uang Bayar</label>
                        <div class="col-sm-10">
                            <input type="number" value="0" id="UangPembayaran1" class="form-control" style="font-size:14px;" onchange="onChangeBayar1();" readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Bayar</label>
                        <div class="col-sm-10">
                            <input type="number" value="0" id="Bayar1" class="form-control" style="font-size:14px;" onchange="onChangeBayar1();" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label" style="font-size:14px;">Kembalian</label>
                        <div class="col-sm-10">
                            <input type="number" value="0" id="Kembalian1" class="form-control" style="font-size:14px;" required readonly>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" style="font-size:14px;" data-bs-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary" style="font-size:14px;" onclick="UpdateDataUangPembayaran();">Simpan</button>
                </div>
            </form><!-- End General Form Elements -->
        </div>
    </div>
</div><!-- End Basic Modal-->

<link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="~/css/jquery-ui.min.css" rel="stylesheet">

<style>
    .table.dataTable {
        font-size: 14px;
    }
</style>

<script src="~/js/jquery-3.5.1.js"></script>
<script src="~/js/jquery-ui.min.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/dataTables.bootstrap4.min.js"></script>

<script src="~/js/swallfire/sweetalert2.min.js"></script>
<script src="~/js/swallfire/sweetalert2.all.min.js"></script>
<script src="~/js/apps/pembayaran/pembayaran.js"></script>

<script>

    $(document).ready(function (){
        $("#tabelPembayaran").DataTable({
            destroy: true,
            paging: true,
            searching: true
        });
    });

    //GetDataPembayaran();

    function showTambahUangPembayaran() {

        $('#TambahUangPembayaran').modal('show');

    }


    function onChangePembayaran() {

        var IdTahunAjaran = document.getElementById("TahunAjaran").value;
        var NamaKelas = document.getElementById("NamaKelas").value;
        var NamaPembayaran = document.getElementById("NamaPembayaran").value;

        const dataSplit = NamaKelas.split("-");
        var Kelas = dataSplit[1].toString();
        document.getElementById("IdKelas").value = dataSplit[0].toString();

        const dataSplitPembayaran = NamaPembayaran.split("-");
        var Pembayaran = dataSplitPembayaran[1].toString();
        document.getElementById("IdConfigPembayaran").value = dataSplitPembayaran[0].toString();

        GetUangPembayaranAddData(Pembayaran, IdTahunAjaran, Kelas);

    }

    function onChangePembayaran1() {

        var IdTahunAjaran = document.getElementById("IdTahunAjaran1").value;
        var Kelas = document.getElementById("Kelas1").value;
        var NamaPembayaran = document.getElementById("NamaPembayaran1").value;

        const dataSplit = NamaKelas.split("-");
        var Kelas = dataSplit[1].toString();
        document.getElementById("IdKelas1").value = dataSplit[0].toString();

        const dataSplitPembayaran = NamaPembayaran.split("-");
        var Pembayaran = dataSplitPembayaran[1].toString();
        document.getElementById("IdConfigPembayaran1").value = dataSplitPembayaran[0].toString();

        GetUangPembayaranUpdateData(Pembayaran, IdTahunAjaran, Kelas);

    }

    function pingURL() {
        var settings = {
            cache: false,
            //dataType: "jsonp",
            dataType: "application/json",
            crossDomain: true,
            url: "Ping/GetPing",
            method: "GET",
            timeout: 5000,
            headers: { accept: "application/json", "Access-Control-Allow-Origin": "*", },

            statusCode: {
                200: function (response) {

                },
                400: function (response) {

                },
                0: function (response) {

                },
            },
        };
        // Sends the request and observes the response
        $.ajax(settings).done(function (response) {
            console.log("Success -----> " + response);
        })
        .fail(function (response) {
            console.log("Error -----> " + response);
            alert("Not Connected Server, Check internet Or Server...!");
        });
    }
</script>